<a href="https://colab.research.google.com/github/roy392/cautious-goggles/blob/main/roytugas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Happy Birthday to you!")
print("Happy Birthday to you!")
print("Happy Birthday, dear kartik.")
print("Happy Birthday to you!")

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

In [3]:
def happy_birthday_to_kartik():
  
    print("Happy Birthday to you!")
    print("Happy Birthday to you!")
    print("Happy Birthday, dear kartik.")
    print("Happy Birthday to you!")

In [4]:
def happy_birthday_to_kartik():
  
    print("Happy Birthday to you!")
    print("Happy Birthday to you!")
    print("Happy Birthday, dear kartik.")
    print("Happy Birthday to you!")
    print('Function call 1')
happy_birthday_to_kartik()
print() 
print('Function call 2')
happy_birthday_to_kartik()
print()
print('Function call 3')
happy_birthday_to_kartik()
print()
# This will not call the function
print('This is not a function call')
happy_birthday_to_kartik

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!
Function call 1

Function call 2
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!
Function call 1

Function call 3
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!
Function call 1

This is not a function call

In [5]:
def new_line():
    print()
def two_new_lines():
    new_line()
    new_line()
print("Printing a single line...")
new_line()
print("Printing two lines...")
two_new_lines()
print("Printed two lines")

Printing a single line...

Printing two lines...


Printed two lines

In [9]:
def happy_birthday(name):
    print("Happy Birthday to you!")
    print("Happy Birthday to you!")
    print(f"Happy Birthday, dear {name}.")
    print("Happy Birthday to you!")
happy_birthday("kartik")
my_name="kartik"
happy_birthday(my_name)

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear kartik.
Happy Birthday to you!

In [11]:
def multiply(x, y):

    result = x * y
    print(result)
    
multiply(2020,5278238)
multiply(2,3)

10662040760
6

In [13]:
def multiply(x, y, third_number=1):

    result=x*y*third_number
    print(result)

multiply(2,3) 
multiply(2,3,third_number=4)

6
24

In [14]:
def multiply(x, y):

    multiplied = x * y
    return multiplied

result = multiply(2, 5)
print(result)
multiply(30,20)

10

600

In [15]:
def calculate(x,y):
    product = x * y
    summed = x + y

    return product, summed

var1, var2 = calculate(10,5)
print("product:",var1,"sum:",var2)

product: 50 sum: 15

In [16]:
double = lambda x: x * 2
print(double(6))

12

In [17]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12] 
new_list = list(filter(lambda x: (x%2 == 0), my_list)) 
print("Even numbers are: ", new_list)

Even numbers are:  [4, 6, 8, 12]

In [18]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12] 
new_list = list(map(lambda x: x * 2, my_list)) 
print("Double values are: ", new_list)

Double values are:  [2, 10, 8, 12, 16, 22, 6, 24]

In [19]:
from functools import reduce
list1 = [20, 13, 4, 8, 9]
add = reduce(lambda x, y: x+y, list1)
print("Addition of all list elements is : ", add)

Addition of all list elements is :  54

In [30]:

class Student:

      def learn(self):
          print("Selamat datang dikelas Programer orbit")
    
stud = Student()
stud.learn()

Selamat datang dikelas Programer orbit

In [31]:
class Person:

      def __init__ (self, name):
            self.name =name
            
p = Person('Milaan')
print(p.name)
print(p)

Milaan
<__main__.Person object at 0x7f95c3293050>

In [32]:
class Person:
      def __init__(self, firstname, lastname, age, country, city):
                self.firstname = firstname
                self.lastname = lastname
                self.age = age
                self.country = country
                self.city = city

p = Person('BEKASI', 'roy', 26, 'Jakarta', 'jawa barat')
print(p.firstname)
print(p.lastname)
print(p.age)
print(p.country)
print(p.city)

BEKASI
roy
26
Jakarta
jawa barat

In [33]:
class Student:
        def __init__(self, name, percentage):
                self.name = name
                self.percentage = percentage
        def show(self):
            print("Name is:", self.name, "and percentage is:",
            self.percentage)

stud = Student("rian", 29)
stud.show()

Name is: rian and percentage is: 29

In [37]:
class Parrot:
      species = "bird" 
      def __init__(self, name, age): 
                  self.name = name
                  self.age = age

red = Parrot("red", 10)
woo = Parrot("Woo", 15)

print("red is a {}".format(red.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))

print("{} is {} years old".format( red.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

red is a bird
Woo is also a bird
red is 10 years old
Woo is 15 years old

In [38]:
class Person:
        def __init__(self, firstname, lastname, age, country, city):
                    self.firstname = firstname
                    self.lastname = lastname
                    self.age = age
                    self.country = country
                    self.city = city
        def person_info(self):
            return f'{self.firstname} {self.lastname} is {self.age} yearvold. He lives in {self.city}, {self.country}'

p = Person('rian', 'adria', 28, 'jakarta', 'DKi')
print(p.person_info())

rian adria is 28 yearvold. He lives in DKi, jakarta

In [39]:
class Parrot:

      def __init__(self, name, age):
                self.name = name
                self.age = age

      def sing(self, song):
        return "{} sings {}".format(self.name, song)
      def dance(self):
        return "{} is now dancing".format(self.name)

blu = Parrot("Blu", 10)
print(blu.sing("'Happy'"))
print(blu.dance())

Blu sings 'Happy'
Blu is now dancing

In [40]:
class Person:

      def __init__(self, firstname='Milaan', lastname='Parmar',
                  age=96, country='England', city='London'):
                  self.firstname = firstname
                  self.lastname = lastname
                  self.age = age
                  self.country = country
                  self.city = city

      def person_info(self):
          return f'{self.firstname} {self.lastname} is {self.age} yearsold. He lives in {self.city}, {self.country}.'
          
p1 = Person()
print(p1.person_info())
p2 = Person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())

Milaan Parmar is 96 yearsold. He lives in London, England.
Ben Doe is 30 yearsold. He lives in Tampere, Finland.

In [41]:
class Person:

      def __init__(self, firstname='Milaan', lastname='Parmar',
                  age=96, country='England', city='London'):
                  self.firstname = firstname
                  self.lastname = lastname
                  self.age = age
                  self.country = country
                  self.city = city
                  self.skills = []
      def person_info(self):
          return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'

      def add_skill(self, skill):
          self.skills.append(skill)
          
p1 = Person()
print(p1.person_info())
p1.add_skill('Python')
p1.add_skill('MATLAB')
p1.add_skill('R')
p2 = Person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())
print(p1.skills)
print(p2.skills)

Milaan Parmar is 96 years old. He lives in London, England.
Ben Doe is 30 years old. He lives in Tampere, Finland.
['Python', 'MATLAB', 'R']
[]

In [42]:

class ClassOne: # Base class

    def func1(self):
      print('This is Parent class')
class ClassTwo(ClassOne): # Derived class
  def func2(self):
      print('This is Child class')
obj = ClassTwo()
obj.func1()
obj.func2()

This is Parent class
This is Child class

In [43]:
class Student(Person):
      pass

s1 = Student('dinda', 'rena', 22, 'bekasi', 'kota')
s2 = Student('Emilya', 'putri', 28, 'jakarta', 'dKI')
print(s1.person_info())
s1.add_skill('HTML')
s1.add_skill('CSS')
s1.add_skill('JavaScript')
print(s1.skills)
print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

dinda rena is 22 years old. He lives in kota, bekasi.
['HTML', 'CSS', 'JavaScript']
Emilya putri is 28 years old. He lives in dKI, jakarta.
['Organizing', 'Marketing', 'Digital Marketing']

In [46]:
class Student(Person):

    def __init__ (self, firstname='Milaan', lastname='Parmar',age=96,
    country='England', city='London', gender='male'):
        self.gender = gender 
        super().__init__(firstname, lastname,age, country, city)

    def person_info(self):
        gender = 'He' if self.gender =='male' else 'She'
        return f'{self.firstname} {self.lastname} is {self.age} years old. {gender} lives in {self.city}, {self.country}.'

s1 = Student('jingga', 'seraya', 33, 'jakarta', 'DKI','male')
s2 = Student('Emily', 'putri', 28, 'jarkarta', 'DKI','female')
print(s1.person_info())
s1.add_skill('HTML')
s1.add_skill('CSS')
s1.add_skill('JavaScript')
print(s1.skills)
print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

jingga seraya is 33 years old. He lives in DKI, jakarta.
['HTML', 'CSS', 'JavaScript']
Emily putri is 28 years old. She lives in DKI, jarkarta.
['Organizing', 'Marketing', 'Digital Marketing']

In [53]:
class Bird:
    def __init__(self):
        print("Bird is ready")
    def whoisThis(self):
        print("Bird")
    def swim(self):
        print("Swim faster")
   
class Penguin(Bird):

    def __init__(self):
            super().__init__() 
            print("Penguin is ready")
    def whoisThis(self):
          print("Penguin")
    def run(self):
          print("Run faster")
  
peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

In [54]:
class Computer:
    def __init__(self):
        self.__maxprice = 900
    def sell(self):
      print("Selling Price: {}".format(self.__maxprice))
    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

c.__maxprice = 1000
c.sell()

c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

In [55]:
class Parrot:
    def fly(self):
      print("Parrot can fly")
    def swim(self):
      print("Parrot can't swim")
class Penguin:
    def fly(self):
      print("Penguin can't fly")
    def swim(self):
      print("Penguin can swim")

    def flying_test(bird):
      bird.fly()

blu = Parrot()
peggy = Penguin()

In [56]:
class Circle:
  pi = 3.14
  def __init__(self, redius):
      self.radius = redius
  def calculate_area(self):
      print("Area of circle:", self.pi * self.radius * self.radius)
      
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def calculate_area(self):
    print("Area of Rectangle:", self.length * self.width)

cir = Circle(9)
rect = Rectangle(9, 6)
cir.calculate_area() # Output Area of circle: 254.34
rect.calculate_area()

Area of circle: 254.34
Area of Rectangle: 54